
body {

    display: grid;
    place-content: center;
}

.episode {
    height: 250px;
    grid-column: 2 / 3;
    grid-row: 3 / 6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: black;
}

table {
    position: relative;
    width: 100%;
}

table > caption {
    font-weight: 400;
    margin: 5px;
    border: 1px solid black;
    padding: .5rem;
}

tr, td {
    border: 1px solid black;
    padding: .5rem;
}