:root {
    --body: white;
    --text: black;

    --character-yellow: #f7ba0b;
    --character-orange: #d4652f;
    --character-red:    #a02128;
    --character-violet: #904684;
    --character-blue:   #154889;
    --character-green:  #317f43;
    --character-grey:   #9b9b9b;
    --character-brown:  #7b5141;
    --character-white:  #f4f4f4;
    --character-black:  #282828;
}

/* COLOR THEME SWITCHER */
/* SET THEME TO LIGHT */
:root:has(input:checked) {
    --body: #181a1b;
    --text: #e8e6e3;

    --character-yellow: #f7ba0b;
    --character-orange: #d4652f;
    --character-red:    #a02128;
    --character-violet: #904684;
    --character-blue:   #154889;
    --character-green:  #317f43;
    --character-grey:   #9b9b9b;
    --character-brown:  #7b5141;
    --character-white:  #f4f4f4;
    --character-black:  #282828;
}

header {
    display: grid !important;
    grid-template-columns: auto min-content;
    align-items: center;
    background: var(--body);
    padding: 1rem;
    border: 1px dotted var(--text);
    margin: 0.75rem;
    max-width: 1000px;
}

body {
    background-color: var(--body);
}

p, li, ul, h1 {
    color: var(--text);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table > tbody > tr {
    display: flex;
    padding: 1em;
}

table > tbody > tr > td {
    height: 170px;
}

table > tbody > tr > td:nth-child(1) {
    width: 170px;
    overflow: hidden;
    border-radius: 5px;
}

table > tbody > tr > td:nth-child(2) {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

div.img {
    width: 250px;
    height: 250px;
    margin-top: -75px;
    margin-right: -40px;
    margin-left: -40px;
    margin-bottom: -10px;
}

div.info, div.chars {
    padding: 1rem;
}

div.info {
    display: flex;
    height: 100%;
    width: max-content;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
}

div.chars > ul:before{
    content:attr(aria-label);
    font-weight:bold;
}

div.chars > ul > li:nth-child(n+7) {
    display: none;
}

div.chars > ul > li[data-name~="erzähler"] {
    color: var(--character-green);
}

div.chars > ul > li[data-name~="peter"] {
    color: var(--character-blue);
}

div.chars > ul > li[data-name~="bob"] {
    color: var(--character-red);
}

div.chars > ul > li[data-name~="titus"] {
    color: var(--character-orange);
}

div.chars > ul > li[data-name~="mathilda"] {
    color: var(--character-violet);
}

div.chars > ul > li[data-name~="morton"] {
    color: var(--character-grey);
}

div.chars > ul > li[data-name~="skinny"] {
    color: var(--character-brown);
}