:root {
    --character-yellow: #f7ba0b;
    --character-orange: #d4652f;
    --character-red:    #a02128;
    --character-violet: #904684;
    --character-blue:   #154889;
    --character-green:  #317f43;
    --character-grey:   #9b9b9b;
    --character-brown:  #7b5141;
    --character-white:  #f4f4f4;
    --character-black:  #282828;
}

body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

table > * {
    text-align: center;
    color: black;
}

th, td {
    white-space: nowrap;
    padding: 5px;
}

td.last-column {
    width: 100%;
    min-width: 0;
}

.char-container {
    max-width: 1100px;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    overflow-x: auto;
}


.char-container span {
    display: inline;
    color: black;
    border: 1px solid black;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 5rem;
    align-items: center;
    width: 100px;
    overflow-x: clip;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
}

.char-container span[data-name~="erzähler"] {
    background-color: var(--character-green);
}

.char-container span[data-name~="justus"] {
    background-color: var(--character-white);
}

.char-container span[data-name~="peter"] {
    color: white !important;
    background-color: var(--character-blue);
}

.char-container span[data-name~="bob"] {
    color: white !important;
    background-color: var(--character-red);
}

.char-container span[data-name~="titus"] {
    background-color: var(--character-orange);
}

.char-container span[data-name~="mathilda"] {
    background-color: var(--character-violet);
}

.char-container span[data-name~="morton"] {
    background-color: var(--character-grey);
}

.char-container span[data-name~="skinny"] {
    background-color: var(--character-brown);
}