body {
    display: grid;
    place-content: center;
}

div.guess, div.guess > * {
    padding: 1rem;
}

div.guess-header {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    min-width: 200px;
}

div.guess-header > span {
    display: grid;
    width: 80px;
    height: 80px;
    place-items: center;
    border: 1px solid black;
}

div.guess > form {
    display: flex;
}

div.guess > form > input {
    height: 50px;
    flex-grow: 4;
}

div.guess > form > button {
    height: 50px;
    width: 50px;
}

div.guess-list > ul {

    list-style: none;

    li {
        display: flex;
        align-items: center;

        div.guess-list-item {

            width: 68px;
            overflow: hidden;
            border-radius: 5px;

            div.img {
                width: 100px;
                height: 100px;
                margin-top: -30px;
                margin-left: -16px;
                margin-right: -16px;
                margin-bottom: -5px;
            }
        }

        p {
            flex-grow: 4;
            text-align: center;
            padding: 1rem;
            font-size: larger;
            font-weight: bold;
        }
    }
}

div.guess-list > ul > li:hover {
    background-color: lightgray;
}