body {
    display: grid;
    place-content: center;
    background-color: var(--color-background);
}

div.guess {
    background-color: var(--color-background);
    color: var(--color-primary-text);
    width: 100vw;
}

div.guess > * {
    margin: 1rem;
}

div.guess-title {
    display: grid;
    place-items: center;
    height: 80px;
    padding: 1rem;
    background-color: var(--color-surface);
    border: 3px solid var(--color-surface-border);
    border-radius: 15px;
}

div.guess-title > h2 {
    font-size: larger;
    text-align: center;
}

div.guess-title > p {
    color: var(--color-surface-border);
}

div.guess-header {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    height: 125px;
    background-color: var(--color-surface);
    border: 3px solid var(--color-surface-border);
    border-radius: 15px;
}

div.guess-header > div {
    flex-grow: 1;
    display: grid;
    place-items: center;
}


div.guess-header > div > span.guessByEmojis {
    position: relative;
    font-size: xx-large;
    display: grid;
    place-items: center;
    width: 55px;
    height: 55px;
    border: 5px solid var(--color-primary-text);
    box-shadow: 2px 2px var(--color-surface-border);
    border-radius: 50%;
}

div.guess-header > div > span.guessByEmojis::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 24px;
    height: 8px;
    border-radius: 0 15px 15px 0px;
    rotate: 35deg;
    left: 42px;
    top: 42px;
    background-color: var(--color-primary-text);
    box-shadow: 2px 2px var(--color-surface-border);
}

div.guess-header > div:nth-child(4) > span.guessByEmojis::after {
    width: 20px;
}

div.guess-header > div > span:not(.guessByEmojis) {
    font-size:  x-large;
    text-align: center;
}

div.guess-filter > ul {
    overflow-y: scroll;
    max-height: 165px;
}

div.guess-filter > ul > li {
    background-color: var(--color-surface);
    border: 3px solid var(--color-surface-border);
}

div.guess > form {
    display: flex;
}

div.guess > form > input {
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    flex-grow: 4;
}

div.guess > form > button {
    height: 50px;
    width: 50px;
}

div.guess-list > ul {
    list-style: none;
}

li.list-item {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    border-radius: 15px;

    div {
        width: 68px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 15px 0 0 15px;
        margin-right: 0.5rem;

        div {
            width: 100px;
            height: 100px;
            margin-top: -30px;
            margin-left: -16px;
            margin-right: -16px;
            margin-bottom: -5px;
        }
    }

    p {
        flex-grow: 4;
        text-align: left;
        font-weight: bold;
    }
}

object, img {
    width: 100px;
    height: 100px;
}

li.list-item:hover {
    -webkit-filter: brightness(70%);
    cursor: pointer;
}

li.list-item:last-of-type {
    margin-bottom: 0 !important;
}

div.guess-list > ul > li.incorrect {
    background-color: var(--list-item-incorrect);
    border: 3px solid var(--list-item-incorrect-border);
}

div.guess-list > ul > li.correct {
    background-color: var(--list-item-correct);
    border: 3px solid var(--list-item-correct-border);
}