body {
    display: grid;
    place-content: center;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    div.guess {
        width: 300px;
    }
}

@media screen and (min-width: 500px) {
    div.guess {
        width: 500px;
    }
}

div.guess, div.guess > * {
    margin: 1rem;
}

div.guess-header {
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    justify-content: center ;
    height: 80px;
}

div.guess-header > span {
    flex-grow: 1;
    display: grid;
    place-items: center;
    border: 1px solid black;
}


div.guess-header > span.guessByEmojis {
    font-size: xx-large;
}


@media screen and (min-width: 500px) {
    div.guess-header > span.guessByEmojis {
        font-size: xxx-large;
    }
}

div.guess-header > span:not(.guessByEmojis) {
    font-size:  x-large;
}

div.guess-filter {
    border: 1px solid black;
}

div.guess-filter > ul {
    overflow-y: scroll;
    min-height: 50px;
    max-height: 150px;
}

div.guess-filter > ul > li {
    display: none;
    height: 0;
}

div.guess > form {
    display: flex;
}

div.guess > form > input {
    height: 50px;
    flex-grow: 4;
}

div.guess > form > button {
    height: 50px;
    width: 50px;
}

div.guess-list > ul {
    list-style: none;
}


li.list-item {
    display: flex;
    align-items: center;
    margin: 0.5rem;

    div {
        width: 68px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 5px;
        margin-right: 0.5rem;

        div {
            width: 100px;
            height: 100px;
            margin-top: -30px;
            margin-left: -16px;
            margin-right: -16px;
            margin-bottom: -5px;
        }
    }

    p {
        flex-grow: 4;
        text-align: left;
        font-weight: bold;
    }

    @media screen and (min-width: 500px) {
    p {
        font-size: larger;
    }
}
}

object, img {
    width: 100px;
    height: 100px;
}

li.list-item:hover {
    -webkit-filter: brightness(70%);
    cursor: pointer;
}

li.list-item:last-of-type {
    margin-bottom: 0 !important;
}

div.guess-list > ul > li.incorrect {
    background-color: var(--character-red);
}

div.guess-list > ul > li.correct {
    background-color: var(--character-green);
}