<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Nummer</th>
            <th>Titel</th>
            <th>Autor</th>
            <th>Datum</th>
            <th>Dauer</th>
        </tr>
        <tr th:each="episode : ${episodes}">
            <td th:text="${episode.getNumber()}"></td>
            <td th:text="${episode.getTitle()}"></td>
            <td th:text="${episode.getAuthor()}"></td>
            <td th:text="${episode.getReleaseDate()}"></td>
            <td th:text="${episode.getLength()}"></td>
        </tr>
    </table>
</body>
</html>