<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episoden</title>
    <link href="../static/css/episodes.css" th:href="@{/css/episodes.css}" rel="stylesheet">
</head>
<body>
    <table>
        <tr>
            <th>Cover</th>
            <th>Nummer</th>
            <th>Titel</th>
            <th>Autor</th>
            <th>Datum</th>
            <th>Dauer</th>
            <th>Charaktere</th>
        </tr>
        <tr th:each="episode : ${episodes}">
            <td>
                <a th:href="@{${episode.getNumberAsEpisodeLink()}}">
                    <img th:src="@{${episode.getTitleAsImageSourceLookup()}}" loading="lazy" alt="fail" width="50" height="50">
                </a>
            </td>
            <td th:text="${episode.getNumber()}"></td>
            <td th:text="${episode.getTitle()}"></td>
            <td th:text="${episode.getAuthor()}"></td>

            <td th:text="${episode.getReleaseDate()}"></td>
            <td th:text="${episode.getLengthAsString()}"></td>

            <td class="last-column">
                <div class="char-container">
                <span
                        th:each="sr : ${episode.getSpeakingRoles()}"
                        th:text="${sr.getRole()}"
                        th:attr="data-name=${sr.getRole().toLowerCase()}"
                ></span>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>